body {
  color: $my-color;
  background-color: $my-background-color;
}

#app-body {	
	position: absolute;
	top: $header-height;
	left: 5%;
	bottom: 0;
	width: 90%;	
	margin: 0 auto;	
}

$header-height: 74px;

#header {
	position: absolute;
	background-color: $my-header-color;
	height: $header-height;
	top:0;
	left:0;
	width: 100%;
	margin: 0 auto;

	& h1 {		  
	  width: 90%;
	  margin: 0 auto;	  	  
	}
} 


