$font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;

html {
    // set root font size to ~10px, most browsers use 16px (100%) as default;
	font-size: 62.5%;
	font-family: $font-family;
}

$font-weight: normal !default;
$font-size-base: 1.4rem;

$font-size-regular: $font-size-base + 0.25rem;
$font-size-large: $font-size-regular + 0.5rem; 
$font-size-x-large: $font-size-large + 1rem; 
$font-size-xx-large: $font-size-x-large + 1.5rem;

.font-size-regular {
	font-size: $font-size-regular;
}
.font-size-large {
	font-size: $font-size-large;
}
.font-size-x-large {
	font-size: $font-size-x-large;
}
.font-size-xx-large {
	font-size: $font-size-xx-large;
}



h1 {
	font-size: $font-size-xx-large;	
}

h2 {	
	font-size: $font-size-x-large;	
}

h3, label {	
	font-size: $font-size-large;
}

body, p, h6, h5, h4 {	
	font-size: $font-size-regular;
}

